/*начало навигация*/

.navigation{
    padding-top: 35px;
    margin-bottom: 77px;

    .navigation__wrap{

        display: flex;
        justify-content: space-between;
        @media screen and (max-width: 567px){
            overflow: hidden;
            width: 100%;
            position: relative;
        }

        .navigation__menu{
            display: none;
    
            @media screen and (max-width: 567px){
                display: block;
                width: 40px;
                height: 40px;
                border: none;
                position: relative;
                padding-top: 5px;
                background: #fff;
    
                span{
                    display: block;
                    position: absolute;
                    width: 39px;
                    height: 3px;
                    background-color: var(--dark);
                    margin-left: -5px;
                    transition: background-color .5s, opacity .25s, transform .5s;
                    will-change: transform;

                    /*меню*/
                    &:nth-child(1){
                        transform: translateY(-10px);
                    }
                    &:nth-child(3){
                        transform: translateY(10px);
                    }

                    /*крестик*/
                    .header.open &:nth-child(1){
                        transform: translateY(0) rotate(45deg);
                    }
                    .header.open &:nth-child(2){
                        opacity: 0;
                    }
                    .header.open &:nth-child(3){
                        transform: translateY(0) rotate(-45deg);
                    }  
                }
            }
        }
    }

    .navigation__list{
        display: flex;
        align-items: center;
        grid-gap: 39px;

        @media screen and (max-width: 567px){
            position: absolute;
            right: -275px;
            top: 0;
            width: 275px;
            background-color: aquamarine;
            text-align: right;
            padding: 94px 15px 421px 104px;
            visibility: hidden;

            .header.open &{
                transform: translateX(-100%);
                visibility: visible;
            }
        }

        .navigation__list-item{
            .navigation__list-item-link{
                color: var(--dark);
                text-decoration: none; 
            }   
             &:hover {
                text-decoration: underline;
            }
        }
    }
    
}

/*конец навигации*/