@charset "UTF-8";
/*сброс стилей*/
*, *::after, *::before {
  box-sizing: border-box;
}

body, h1, h2, h3, h4, h5, p, ul {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/*конец сброс стилей*/
/*настройка основных стлей*/
:root {
  --dark: rgba(63, 58, 81, 1);
}

.button-primary {
  font-size: 16px;
  padding: 14px 30px;
  border-radius: 10px;
  border: none;
  background: rgb(64, 71, 226);
  color: rgb(249, 249, 249);
}
.button-primary:hover {
  box-shadow: 0 0 10px 0 rgba(24, 27, 89, 0.2);
}
@media screen and (max-width: 1199px) {
  .button-primary {
    padding: 5px 30px;
  }
}

h2 {
  font-size: 32px;
  font-weight: 700;
  line-height: 37.92px;
}
@media screen and (max-width: 1199px) {
  h2 {
    font-size: 27px;
    line-height: 34px;
  }
}

p {
  line-height: 23.4px;
}

body {
  font-size: 18px;
  font-weight: 400;
  font-family: "Rubik", sans-serif;
  margin: 0;
  color: var(--dark);
}
@media screen and (max-width: 1199px) {
  body {
    font-size: 16px;
    line-height: 42px;
  }
}

/*конец настройка основных стлей*/
/*начало навигация*/
.body-wraper {
  overflow: hidden;
  width: 100%;
  position: relative;
}
.body-wraper .navigation {
  padding-top: 35px;
  margin-bottom: 77px;
}
.body-wraper .navigation .navigation__wrap {
  display: flex;
  justify-content: space-between;
}
.body-wraper .navigation .navigation__burger-btn {
  display: none;
  position: relative;
  width: 30px;
  height: 25px;
  border: none;
  outline: none;
  z-index: 100;
  background: rgb(255, 255, 255);
  cursor: pointer;
}
@media screen and (max-width: 576px) {
  .body-wraper .navigation .navigation__burger-btn {
    display: block;
  }
}
.body-wraper .navigation .navigation__burger-btn span {
  display: block;
  position: absolute;
  width: 19px;
  height: 2px;
  border-radius: 2px;
  background-color: rgb(64, 71, 226);
  transition: background-color 0.5s, opacity 0.25s, transform 0.5s;
  will-change: transform;
}
.body-wraper .navigation .navigation__burger-btn span:nth-child(1) {
  transform: translateY(-6px);
}
.body-wraper .navigation .navigation__burger-btn span:nth-child(3) {
  transform: translateY(6px);
}
.body-wraper .navigation .navigation__list_desktop {
  display: flex;
  gap: 25px;
}
@media screen and (max-width: 576px) {
  .body-wraper .navigation .navigation__list_desktop {
    display: none;
  }
}
.body-wraper .navigation .navigation__list_mobile {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: none;
}
@media screen and (max-width: 576px) {
  .body-wraper .navigation .navigation__list_mobile {
    display: block;
  }
}
.body-wraper .navigation .navigation__list {
  display: flex;
  align-items: center;
  grid-gap: 39px;
}
@media screen and (max-width: 576px) {
  .body-wraper .navigation .navigation__list {
    position: fixed;
    right: -275px;
    top: 0;
    width: 275px;
    background: rgb(255, 255, 255);
    text-align: right;
    padding: 95px 14px 14px;
    height: 100%;
    transition: transform 0.5s, visibility 0.2s;
    display: grid;
    align-content: space-between;
  }
}
.body-wraper .navigation .navigation__menu {
  display: none;
}
@media screen and (max-width: 576px) {
  .body-wraper .navigation .navigation__menu {
    display: block;
    font-size: 14px;
    font-weight: 400;
    line-height: 16.59px;
    color: rgb(143, 153, 172);
  }
}
.body-wraper .navigation .navigation__list-item .navigation__list-item-link {
  color: var(--dark);
  text-decoration: none;
}
.body-wraper .navigation .navigation__list-item:hover {
  text-decoration: underline;
}
.body-wraper .header.open .navigation__list_mobile {
  background: rgba(0, 0, 0, 0.6);
}
.body-wraper .header.open .navigation__burger-btn span:nth-child(1) {
  transform: translateY(0) rotate(45deg);
}
.body-wraper .header.open .navigation__burger-btn span:nth-child(2) {
  opacity: 0;
}
.body-wraper .header.open .navigation__burger-btn span:nth-child(3) {
  transform: translateY(0) rotate(-45deg);
}
.body-wraper .header.open .navigation__list {
  transform: translateX(-100%);
  visibility: visible;
}
.body-wraper .header.open .navigation__burger-btn {
  position: fixed;
  right: 15px;
}

/*конец навигации*/
/*начало сервиса*/
.servis {
  margin-bottom: 80px;
}
.servis h1 {
  font-weight: 700;
  line-height: 49.77px;
  font-size: 42px;
  color: rgb(50, 44, 73);
  margin-bottom: 16px;
}
@media screen and (max-width: 1199px) {
  .servis h1 {
    font-size: 36px;
    line-height: 42px;
  }
}
@media screen and (max-width: 991px) {
  .servis h1 {
    font-size: 32px;
    line-height: 36px;
  }
}
.servis p {
  color: rgb(143, 153, 172);
  margin-bottom: 19px;
}
@media screen and (max-width: 991px) {
  .servis .servis__block {
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 576px) {
  .servis .servis__block .block__button-group {
    display: grid;
  }
}
.servis .servis__block .block__button-group .button-primary {
  margin-right: 20px;
}
@media screen and (max-width: 576px) {
  .servis .servis__block .block__button-group .button-primary {
    margin-right: 0;
    margin-bottom: 8px;
  }
}
.servis .servis__block .block__button-group .button-primary-outline {
  font-size: 16px;
  padding: 14px 30px;
  border-radius: 10px;
  background: none;
  color: rgb(64, 71, 226);
  border: 1px solid rgb(64, 71, 226);
}
@media screen and (max-width: 1199px) {
  .servis .servis__block .block__button-group .button-primary-outline {
    padding: 5px 30px;
  }
}
.servis .servis__block .block__button-group .button-primary-outline .play__img {
  margin-right: 10px;
}
.servis .servis__block .block__button-group .button-primary-outline:hover {
  box-shadow: 0 0 10px 0 rgba(24, 27, 89, 0.2);
}
.servis .servis__img-block {
  border-radius: 10px;
  max-width: 100%;
}
@media screen and (max-width: 991px) {
  .servis .servis__img-block {
    width: 720px;
    display: block;
    margin: 0 auto;
  }
}
@media screen and (max-width: 576px) {
  .servis .servis__img-block {
    display: none;
  }
}
.servis .servis__img-mobail {
  display: none;
}
@media screen and (max-width: 576px) {
  .servis .servis__img-mobail {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    box-shadow: 0px 10px 50px 0px rgba(64, 71, 226, 0.2);
    border-radius: 10px;
  }
}

/*конец сервиса*/
/*начало видеоуроков*/
.tutorials {
  margin-bottom: 80px;
  background: rgb(223, 225, 255);
  height: 100%;
  padding: 70px 0 80px;
}
@media screen and (max-width: 991px) {
  .tutorials {
    margin-bottom: 60px;
  }
}
@media screen and (max-width: 576px) {
  .tutorials {
    padding: 0;
    background: none;
  }
}
@media screen and (max-width: 991px) {
  .tutorials .tutorials__block {
    margin-bottom: 20px;
  }
}
.tutorials .tutorials__block h2 {
  margin-bottom: 28px;
}
@media screen and (max-width: 1399px) {
  .tutorials .tutorials__block .tutorials__br {
    display: none;
  }
}
.tutorials .tutorials__img {
  max-width: 100%;
  border-radius: 10px;
}
@media screen and (max-width: 576px) {
  .tutorials .tutorials__img {
    box-shadow: 0px 10px 50px 0px rgba(64, 71, 226, 0.2);
    border-radius: 10px;
  }
}

/*конец видеоуроков*/
/*начало история занятий*/
.history {
  margin-bottom: 80px;
}
@media screen and (max-width: 1199px) {
  .history {
    margin-bottom: 60px;
  }
}
.history .row {
  align-items: center;
}
.history .history__img {
  width: 570px;
  border-radius: 10px;
  max-width: 100%;
  box-shadow: 0px 10px 50px 0px rgba(64, 71, 226, 0.2);
}
@media screen and (max-width: 991px) {
  .history .history__block {
    margin-bottom: 20px;
  }
}
.history .history__block h2 {
  margin-bottom: 15px;
}
@media screen and (max-width: 1399px) {
  .history .history__block .history__br {
    display: none;
  }
}

/*конец истории занятий*/
/*начало возможностей*/
.possibility {
  margin-bottom: 67px;
}
.possibility h2 {
  text-align: center;
  margin-bottom: 45px;
}
.possibility .swiper-slide {
  height: auto;
}
.possibility .swiper-slide img {
  -o-object-fit: cover;
     object-fit: cover;
}
.possibility .swiper-pagination {
  position: static;
}
.possibility .possibility__card {
  height: 100%;
  width: 100%;
  border-radius: 20px;
  padding: 48px 20px 40px 20px;
  text-align: center;
}
@media screen and (max-width: 991px) {
  .possibility .possibility__card {
    padding: 30px 15px 25px;
  }
}
@media screen and (max-width: 768px) {
  .possibility .possibility__card {
    margin: auto;
  }
}
@media screen and (max-width: 576px) {
  .possibility .possibility__card {
    width: 65%;
  }
}
.possibility .possibility__card img {
  width: 40%;
}
@media screen and (max-width: 576px) {
  .possibility .possibility__card img {
    width: auto;
  }
}
.possibility #blue {
  background: #DFE1FF;
}
.possibility #orange {
  background: #FFE1AD;
}
.possibility .possibility__card-name {
  font-size: 20px;
  font-weight: 500;
  margin: 26px 0 18px;
}
@media screen and (max-width: 1199px) {
  .possibility .possibility__card-name {
    font-size: 16px;
    margin: 10px 0 5px;
  }
}
@media screen and (max-width: 576px) {
  .possibility .possibility__card-name {
    line-height: normal;
    margin: 26px 0 18px;
  }
}

/*конец возможностей*/
/*начало работы*/
.work {
  margin-bottom: 80px;
}
@media screen and (max-width: 991px) {
  .work .row {
    row-gap: 20px;
  }
}
.work h2 {
  text-align: center;
  margin-bottom: 54px;
}
.work .work__card {
  text-align: center;
}
.work .work__card img {
  max-width: 100%;
  height: 208px;
}
.work .work__card .work__card-name {
  font-weight: 500;
  font-size: 20px;
  margin: 24px 0 24px;
}
@media screen and (max-width: 1199px) {
  .work .work__card .work__card-name {
    font-size: 16px;
    margin: 10px 0 5px;
  }
}
@media screen and (max-width: 767px) {
  .work .work__card .work__br {
    display: none;
  }
}
@media screen and (max-width: 576px) {
  .work .work__card .work__br {
    display: block;
  }
}

/*конец работы*/
/*начало дистанта*/
.distance {
  background: rgb(223, 225, 255);
  margin-bottom: 65px;
  padding: 70px 0 80px;
}
.distance .row {
  align-items: center;
}
@media screen and (max-width: 991px) {
  .distance .distance__block {
    margin-bottom: 20px;
  }
}
.distance .distance__block p {
  margin: 14px 0 20px;
}
.distance .distance__card {
  padding: 30px 50px 30px 30px;
  display: inline-block;
  border-radius: 35px;
  background: rgb(255, 255, 255);
}
.distance .distance__card p {
  margin-left: 16px;
  color: rgb(0, 0, 0);
}
.distance .distance__card p span {
  color: rgb(143, 153, 172);
}
.distance .distance__card .distance__card-text {
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  color: rgb(0, 0, 0);
}
@media screen and (max-width: 767px) {
  .distance .distance__card .distance__card-text .distance__br {
    display: none;
  }
}
.distance .distance__card .distance__card-name {
  margin-top: 18px;
  display: flex;
  align-items: center;
}

/*конец дистанта*/
/*начало футора*/
.footer {
  margin-bottom: 50px;
}
@media screen and (max-width: 767px) {
  .footer {
    margin-bottom: 27px;
  }
}
.footer .footer__company {
  justify-content: space-between;
  display: flex;
  align-items: center;
  margin-bottom: 35px;
}
@media screen and (max-width: 767px) {
  .footer .footer__company {
    flex-direction: column;
  }
}
.footer .footer__company .footer__img-fund {
  width: 200px;
}
@media screen and (max-width: 767px) {
  .footer .footer__company .footer__img-fund {
    margin-top: 35px;
  }
}
.footer .footer__information {
  justify-content: space-between;
  display: flex;
  align-items: center;
  margin-top: 50px;
}
@media screen and (max-width: 767px) {
  .footer .footer__information {
    flex-direction: column;
  }
}
.footer .footer__information .footer__information-sreet,
.footer .footer__information .footer__information-copyright {
  font-size: 16px;
  font-weight: 400;
  line-height: 18.96px;
  color: rgb(143, 153, 172);
}
@media screen and (max-width: 767px) {
  .footer .footer__information .footer__information-sreet,
  .footer .footer__information .footer__information-copyright {
    text-align: center;
  }
}
@media screen and (max-width: 767px) {
  .footer .footer__information .footer__information-sreet {
    margin-bottom: 33px;
  }
}

/*конец футора*//*# sourceMappingURL=style.css.map */